/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 12;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 16;
}

body {
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, "\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3", Hiragino Kaku Gothic Pro, "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF", Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.form-all {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 500px;
}

.session-button {
    background-color: red;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 273px;
    height: 30px;
}

.session-button:hover {
    background-color: darkred;
}

.signup-form {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 390px;
    height: 550px;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 10px;
    width: 100%;
    align-items: center;
    height: 70px;
    background: white;
    top: 0;
    border-bottom: 1px solid lightgray;
}

.btn {
    background-color: white;
    color: grey;
    border: 0;
    background: none;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

.spacebar {
    width: 80%;
    background-color: lightgray;
    color: white;
    border-radius: 5px;
}

.dropdown {
    position: absolute;
}

.dropdownbtn {
    position: relative;
}

.image {
    width: 30px;
    border-radius: 90px;
}

.x {
    position: fixed;
    top: 0;
    right: 0;
    height: 2px;
    width: 2px;
    visibility: hidden;
}

#otherbutton {
    float: left;
    border: 1px;
    border-radius: 5px;
}

.headerlogo {
    font-weight: bold;
    font-size: 32px;
    padding: 6px;
    color: rgb(51, 51, 51);
    letter-spacing: -.5px;
    margin-top: -26px;
}

.headerimage {
    padding-top: 20px;
}

.headersublogo {
    font-size: 12px;
    color: rgb(51, 51, 51);
    font-weight: normal;
    margin-top: -24px;
}

.modalbutton {
    float: left;
    visibility: hidden;
}

.sub-buttons {
    width: 274px;
    margin: 10px;
    padding-top: 10px;
    height: 45px;
    margin-top: -4px;
    margin-bottom: 30px;
}

.session-button {
    padding: 5px;
}

.field {
    border: 1px solid lightgray;
    border-radius: 3px;
    border-color: #8e8e8e;
    color: black;
    padding: 5px;
    align-items: center;
    margin-bottom: 9px;
    width: 260px;
    height: 30px;
    position: sticky;
}

::placeholder {
    color: #bfbfbf;
    font-size: 20px;
    font-weight: normal;
    border-color: #8e8e8e;
}

.footer {
    font-size: 8px;
    word-wrap: break-word;
    align-items: center;
    color: gray;
}

.footer-button:hover {
    text-decoration: underline;
}

.footer-button {
    background-color: white;
    color: black;
    text-align: center;
    padding-left: 2px;
}

.errors {
    height: 2px;
    padding-right: 80px;
    padding-bottom: 10px;
    align-items: center;
}

#left {
    position: fixed;
    left: -90px;
    background-color: rgb(249, 242, 242);
    color: rgb(51, 51, 51);
    border-radius: 10px;
    font-size: 16px;
    padding: 6px;
    width: 140px;
    height: 40px;
    font-weight: bold;
}

#spacethumb {
    padding-top: 10px;
    margin: -1px;
    float: left;
    position: absolute;
    left: 5%;
    position: absolute;
    top: 5px;
}

.spanner {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.error {
    font-size: 6px;
    text-align: center;
    list-style-type: none;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9px;
}

#dropdown-menu-button {
    border: none;
    background: none;
    border-radius: 90px;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 20%;
    right: 33%
}

.menubutton {
    background: white;
    position: absolute;
    color: #8e8e8e;
    min-height: 50px;
    border: none;
    font-size: 16px;
    color: black;
    right: 0;
    height: 50px;
    width: 105px;
    font-weight: bold;
    border-radius: 8px;
}

.menubuttonU {
    background: white;
    position: absolute;
    color: #8e8e8e;
    min-height: 50px;
    border: none;
    font-size: 16px;
    color: black;
    height: 200px;
    width: 105px;
    font-weight: bold;
    border-radius: 8px;
}

.menubutton:hover {
    background: lightgray;
}

.footer {
    bottom: 0x;
    left: 0px;
    color: grey;
}

.footergit {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    color: grey;
    margin-bottom: -100px;
}

.footergit:hover {
    color: red;
}

.err {
    font-size: 12px;
    color: red;
    position: absolute;
    margin: 0px;
    bottom: -12%;
    z-index: 100; 
}

.showpage {
    display: flex;
    flex-direction: column;
    color: #2e2b2b;
    margin-left: 100px;
    margin-top: 6%;
}

.showpage-clickable {
    display: flex;
    flex-direction: row;
}

.showpage-bps {
    display: flex;
    color: grey;
    font-weight: 500;
}

#showpage-boards {
    margin-left: 5px;
    text-decoration: none;
    color: gray;
}

#showpage-boards:hover {
    text-decoration: underline;
    color: black;
}

#showpage-pins {
    text-decoration: none;
    color: gray;
}

#showpage-pins:hover {
    text-decoration: underline;
    color: black;
}

.showpage-header {
    font-size: 36px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}

.showpage-button {
    border: none;
    padding: 0;
    background: none;
}

.showpage-image {
    width: 100px;
    float: right;
    margin-right: 4%;
    margin-top: -90px;
    margin-left: 30%
}

.showpage-pencil {
    width: 70px;
}

.edit-pencil {
    width: 40px;
}

.image-plus {
    width: 60px;
}

.editForm {
    display: flex;
    flex-direction: column;
    color: #333333;
    justify-content: space-around;
    margin-left: 100px;
    margin-top: 50px;
    width: 600px;
    position: relative;
}

.names {
    display: flex;
    width: 100%
}

.edit-name {
    height: 40px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #8e8e8e;
    display: block;
    width: 290px;
    font-size: 12px;
    padding-left: 16px;
}

#edit-header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 14px;
}

#edit-sub {
    font-size: 14px;
    margin-bottom: 20px;
}

.edit-button {
    width: 80px;
    height: 50px;
    background: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: grey;
    font-weight: 500;
}

.edit-button:hover {
    background: lightgray;
}

.edit-button:focus {
    background: red;
}

#edit-location {
    width: 100%;
    height: 42px;
    border-radius: 3px;
    border-width: 1px;
    font-size: 14px;
    padding-left: 16px;
    border-color: #8e8e8e;
    border-width: 1px;
    border-radius: 4px;
}

#edit-description {
    width: 100%;
    height: 87px;
    margin-top: 4px;
    margin-bottom: 40px;
    font-size: 14px;
    padding-left: 16px;
    border-color: #8e8e8e;
    border-width: 1px;
    border-radius: 4px;
}

.edit-username {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #8e8e8e;
    border-width: 1px;
    border-radius: 4px;
}

.nav {
    position: sticky;
    top: 0;
    height: 20px;
    z-index: 90;
}

.navLink {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    padding-bottom: 2px;
}

.label {
    display: block;
}

#span {
    font-weight: 500;
}

.whole-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.edit-photo {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

#edit-pinface {
    width: 75px;
}

.edit-and-span {
    display: flex;
    position: absolute;
    right: 20px;
    top: 0;
}

.leftspan {
    margin-left: -300px;
    position: fixed;
}

.left-span {
    align-self: flex-start;
    margin-top: 50px;
}

#showpage-button {
    margin-top: 10px;
}

.edit-board-form {
    width: 500px;
    height: 200px;
    background-color: white;
}

#boardform {
    width: 500px;
    height: 200px;
    background-color: white;
}

.board-form {
    width: 520px;
    height: 290px;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, "\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3", Hiragino Kaku Gothic Pro, "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF", Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.board-form-buttons {
    display: flex;
}

.board-header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid lightgray;
    justify-content: center;
}

.board-form label {
    width: 300px;
    height: 60px;
    border-radius: 12px;
    display: inline-block;
}

.form-input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
}

.form-input::placeholder {
    font-size: 14px;
    color: #303030;
}

.b-f-button {
    background: white;
    width: 90px;
    border-radius: 5px;
    color: #8e8e88;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
}

.pinsbuilder {
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 60px;
    cursor: pointer;
    /* position: absolute; */
}

.containerdd {
    position: absolute;
    background: white;
    height: 80px;
    width: 200px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 6px;
    z-index: 100;
}

.boards-total{
    margin-top: 60px; 
}

.boards-index-item {
    margin-top: 100px;
    width: 255px;
    height: 220px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 11px;
}

.index-list-item {
    width: 124px;
    height: 107px;
    border-radius: 8px;
}

.bi-title {
    font-size: 15px;
    font-weight: bold;
    margin-left: 11px;
}

.bi {
    display: flex;
}

.menu {
    position: relative;
}

.board-index {
    display: flex;
    flex-wrap: wrap;
    margin-top: -6%;
    margin-left: 5%;
    padding: 2%;
}

.pin-cf {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.pin-cf-t {
    font-size: 30px;
    color: gray;
}

.pin-cf-tb {
    width: 350px;
    height: 50px;
    border: none;
    border-bottom: 1px solid lightgray;
    position: absolute;
    top: 33%;
    left: 59%;
    font-size: 20px;
}

.pin-cf-input {
    width: 100px;
}

.pin-cf-tb::placeholder {
    font-weight: bold;
    color: gray;
    font-size: 30px;
}

.pin-button {
    background: red;
    width: 85px;
    height: 53px;
    border-radius: 8px;
    position: absolute;
    top: 20%;
    right: 27%;
    color: white;
    font-size: 23px;
}


/* .box {
    height: 500px;
    width: 400px;
    cursor: pointer;
    background: lightgray;
    border-radius: 12px;
} */

.file {
    background: white;
    height: 400px;
    width: 300px;
    content: 'click to upload'
}


/* .file::before {
    content: 'Upload Picture';
    font-size: 15px;
    border-radius: 8px;
} */

.input[type='file'] {
    opacity: 0;
    color: red;
}

.board-show-pics {
    /* display: flex; */
    column-count: 4;
    column-gap: 1em;
    margin-top: 65px;
    margin-right: 40px;
    padding-left: 63px;
    padding-right: 63px;
}

.board-show-item {
    width: 100%;
    display: inline-block;
    border-radius: 9px;
    margin: 0 0 1em;
}

.board-show-header {
    font-size: 24px;
    margin-top: 57px;
    font-weight: bold;
}

.uploadpic {
    border: 2px dashed lightgray;
    padding: 155px;
    position: absolute;
    left: 18%;
    font-size: 16px;
    color: gray;
}

.uploadpic::after {
    content: hello
}

.file-pic {
    box-sizing: border-box;
    width: 300px;
    position: absolute;
    left: 24%;
    z-index: 90;
}

.grid-container {
    column-count: 4;
    column-gap: 1em;
    margin-top: 65px;
    position: absolute;
    left: 5%;
    right: 5%;
}

.grid-item {
    width: 100%;
    display: inline-block;
    border-radius: 9px;
    margin: 0 0 1em;
}

#grid-item-image {
    display: none;
    position: absolute;
    width: 40px;
    height: 33px;
    top: 0;
    border-radius: 5px;
    padding: 10px;
    background: red;
}

.grid-div {
    position: relative;
}

.grid-item:hover+img#grid-item-image {
    display: block;
}

.bi-title-sub {
    margin-left: 11px;
}

.board-show-header-container {
    margin-left: 63px;
    margin-bottom: -18px;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.containerdd-p{
    width: 200px;
    font-weight: bold;
    min-height: 250px;
    justify-content: space-around;
}

.board-list {
    width: 140px; 
}

#selectButton {
    border-radius: 1px solid black;
    background: lightgray;
    width: 260px;
    height: 53px; 
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 17px;
    padding-bottom: 5px;
    height: 31px; 
}

#selectButton:hover {
    border: 1px solid black; 
}