/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 12;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 16;
}

body {
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, "\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3", Hiragino Kaku Gothic Pro, "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF", Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.form-all {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 500px;
}

.session-button {
    background-color: red;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 273px;
    height: 30px;
}

.session-button:hover {
    background-color: darkred;
}

.signup-form {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 390px;
    height: 550px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 10px;
    height: 10%;
    width: 300px;
    align-items: center;
}

.btn {
    background-color: white;
    color: grey;
    border: 0;
    background: none;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

.spacebar {
    width: 80%;
    background-color: lightgray;
    color: white;
    border-radius: 5px;
}

.dropdown {
    position: absolute;
}

.dropdownbtn {
    position: relative;
}

.image {
    width: 30px;
    border-radius: 90px;
}

.x {
    position: fixed;
    top: 0;
    right: 0;
    height: 2px;
    width: 2px;
    visibility: hidden;
}

#otherbutton {
    float: left;
    border: 1px;
    border-radius: 5px;
}

.headerlogo {
    font-weight: bold;
    font-size: 32px;
    padding: 6px;
    color: rgb(51, 51, 51);
    letter-spacing: -.5px;
    margin-top: -26px;
}

.headerimage {
    padding-top: 20px;
}

.headersublogo {
    font-size: 12px;
    color: rgb(51, 51, 51);
    font-weight: normal;
    margin-top: -24px;
}

.modalbutton {
    float: left;
    visibility: hidden;
}

.sub-buttons {
    width: 274px;
    margin: 10px;
    padding-top: 10px;
    height: 45px;
    margin-top: -4px;
    margin-bottom: 30px;
}

.session-button {
    padding: 5px;
}

.field {
    border: 1px solid lightgray;
    border-radius: 3px;
    border-color: #8e8e8e;
    color: black;
    padding: 5px;
    align-items: center;
    margin-bottom: 9px;
    width: 260px;
    height: 30px;
    position: sticky;
}

::placeholder {
    color: #bfbfbf;
    font-size: 20px;
    font-weight: normal;
    border-color: #8e8e8e;
}

.footer {
    font-size: 8px;
    word-wrap: break-word;
    align-items: center;
    color: gray;
}

.footer-button:hover {
    text-decoration: underline;
}

.footer-button {
    background-color: white;
    color: black;
    text-align: center;
    padding-left: 2px;
}

.errors {
    height: 2px;
    padding-right: 80px;
    padding-bottom: 10px;
    align-items: center;
}

#left {
    position: fixed;
    left: -90px;
    background-color: rgb(249, 242, 242);
    color: rgb(51, 51, 51);
    border-radius: 10px;
    font-size: 16px;
    padding: 6px;
    width: 140px;
    height: 40px;
    font-weight: bold;
}

#spacethumb {
    padding-top: 10px;
    margin: 5px;
    float: left;
}

.spanner {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.error {
    font-size: 6px;
    text-align: center;
    list-style-type: none;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9px;
}

#dropdown-menu-button {
    border: none;
    background: none;
    border-radius: 90px;
    box-sizing: border-box;
}

.container {
    position: relative;
}

.menubutton {
    background: white;
    position: absolute;
    color: #8e8e8e;
    min-height: 50px;
    border: none;
    font-size: 16px;
    color: black;
    right: 0;
    height: 50px;
    width: 105px;
    font-weight: bold;
    border-radius: 8px;
}

.menubuttonU {
    background: white;
    position: absolute;
    color: #8e8e8e;
    min-height: 50px;
    border: none;
    font-size: 16px;
    color: black;
    height: 200px;
    width: 105px;
    font-weight: bold;
    border-radius: 8px;
}

.menubutton:hover {
    background: lightgray;
}

.footer {
    bottom: 0x;
    left: 0px;
    color: grey;
}

.footergit {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    color: grey;
    margin-bottom: -100px;
}

.footergit:hover {
    color: red;
}

.err {
    font-size: 10px;
    color: red;
    position: absolute;
    margin: 0px;
}

.showpage {
    display: flex;
    flex-direction: column;
    color: #2e2b2b;
    margin-left: 100px;
}

.showpage-clickable {
    display: flex;
    flex-direction: row;
}

.showpage-bps {
    display: flex;
    color: grey;
    font-weight: 500;
}

#showpage-boards {
    margin-left: 5px;
}

#showpage-boards:hover {
    text-decoration: underline;
    color: black;
}

#showpage-pins:hover {
    text-decoration: underline;
    color: black;
}

.showpage-header {
    font-size: 36px;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}

.showpage-button {
    border: none;
    padding: 0;
    background: none;
}

.showpage-image {
    width: 100px;
    ;
    float: right;
    margin-right: 50px;
    margin-top: -90px;
}

.showpage-pencil {
    width: 70px;
}

.edit-pencil {
    width: 40px;
}

.image-plus {
    width: 60px;
}

.editForm {
    display: flex;
    flex-direction: column;
    color: #333333;
    justify-content: space-around;
    margin-left: 100px;
    margin-top: 50px;
    width: 600px;
    position: relative;
}

.names {
    display: flex;
    width: 100%
}

.edit-name {
    height: 40px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #8e8e8e;
    display: block;
    width: 290px;
    font-size: 12px;
    padding-left: 16px;
}

#edit-header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 14px;
}

#edit-sub {
    font-size: 14px;
    margin-bottom: 20px;
}

.edit-button {
    width: 80px;
    height: 50px;
    background: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: grey;
    font-weight: 500;
}

.edit-button:hover {
    background: lightgray;
}

.edit-button:focus {
    background: red;
}

#edit-location {
    width: 100%;
    height: 42px;
    border-radius: 3px;
    border-width: 1px;
    font-size: 14px;
    padding-left: 16px;
    border-color: #8e8e8e;
    border-width: 1px;
    border-radius: 4px;
}

#edit-description {
    width: 100%;
    height: 87px;
    margin-top: 4px;
    margin-bottom: 40px;
    font-size: 14px;
    padding-left: 16px;
    border-color: #8e8e8e;
    border-width: 1px;
    border-radius: 4px;
}

.edit-username {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #8e8e8e;
    border-width: 1px;
    border-radius: 4px;
}

.navLink {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    padding-bottom: 2px;
}

.label {
    display: block;
}

#span {
    font-weight: 500;
}

.whole-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.edit-photo {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

#edit-pinface {
    width: 75px;
}

.edit-and-span {
    display: flex;
    position: absolute;
    right: 20px;
    top: 0;
}

.leftspan {
    margin-left: -300px;
    position: fixed;
}

.left-span {
    align-self: flex-start;
    margin-top: 50px;
}

#showpage-button {
    margin-top: 10px;
}

.edit-board-form {
    width: 500px;
    height: 200px;
    background-color: white;
}

#boardform {
    width: 500px;
    height: 200px;
    background-color: white;
}

.nav {
    border-bottom: 1px solid lightgray;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: center;
    margin-top: 50px;
}

.grid-item {
    width: 280px;
    border-radius: 12px;
}

.board-form {
    width: 520px;
    height: 290px;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, "\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3", Hiragino Kaku Gothic Pro, "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF", Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.board-form-buttons {
    display: flex;
}

.board-header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.board-form label {
    width: 300px;
    height: 60px;
    border-radius: 12px;
    display: inline-block;
}

.form-input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
}

.form-input::placeholder {
    font-size: 14px;
}

.b-f-button {
    background: white;
    width: 90px;
    border-radius: 5px;
    color: #8e8e88;
    height: 30px;
}